.section {
  width: 100%;
  display: grid;
  place-items: center;
}
.sections {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  width: inherit;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 750px) {
  .sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-rows: fit-content(0);
  }
}
