.section {
  position: relative;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  overflow: hidden;
  /* max-height: 500px; */
}
.hour {
  display: flex;
  border: 1px solid transparent;
  /* aspect-ratio: 96/5; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-white);
}

.hours {
  overflow-y: scroll;
}

.reserved {
  background-color: var(--color-mute);
}
.available {
  cursor: pointer;
}
.available:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
}
.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.unavailable {
  background-image: repeating-linear-gradient(150deg, transparent, Transparent 10px, black 11px, black 12px);
  border: none;
}

.spinner {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
